<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style1.css') }}"
    />
    <title>Tubes Algeo 2: Content-Based Information Retrieval</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navigation-bar">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a href="home" class="btn btn-primary custom-btn m-1 nav-link"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a href="/" class="btn btn-primary custom-btn m-1 nav-link"
              >Program</a
            >
          </li>
          <li class="nav-item">
            <a
              href="about-us"
              class="btn btn-primary custom-btn m-1 nav-link active"
              aria-current="page"
              >About Us</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center mt-4">
          <h1>About Us</h1>
        </div>
        <div class="row mb-4 mt-4">
          <div class="col-md-12 text-center">
            <img
              src="{{ url_for('static', filename='person-stock.png')}}"
              alt="Agil"
              class="img-fluid"
            />
          </div>
        </div>
        <div class="row mb-4 mt-4">
          <div class="col-md-3 kotak2 statis m-5">
            <h2 class="text-center m-2">Agil Fadillah Sabri</h2>
            <p class="caption text-center">- 13522006 -</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
              distinctio quasi soluta neque! Amet minima officiis odit commodi.
              Voluptatum blanditiis laudantium, voluptatibus nulla cum mollitia!
              Doloremque necessitatibus sunt et laudantium.
            </p>
          </div>
          <div class="col-md-3 kotak2 statis m-5">
            <h2 class="text-center m-2">Irfan Sidiq Permana</h2>
            <p class="caption text-center">- 13522007 -</p>
            <p m-4>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
              distinctio quasi soluta neque! Amet minima officiis odit commodi.
              Voluptatum blanditiis laudantium, voluptatibus nulla cum mollitia!
              Doloremque necessitatibus sunt et laudantium.
            </p>
          </div>
          <div class="col-md-3 kotak2 statis m-5">
            <h2 class="text-center m-2">Diero Arga Purnama</h2>
            <p class="caption text-center">- 13522056 -</p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla
              distinctio quasi soluta neque! Amet minima officiis odit commodi.
              Voluptatum blanditiis laudantium, voluptatibus nulla cum mollitia!
              Doloremque necessitatibus sunt et laudantium.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="background"></div>
    <div class="background dua"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
